body {
  margin: 0;
  overflow: hidden;
}

#block-field {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 10px;
}
#block-field li  {
  float: left;
  width: 80px;
  height: 80px;
  list-style-type: none;
  text-align: center;
  line-height: 80px;
  text-align: center;
  background-color: #ecf0f1;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 20px;
}


#block-field li:after {
  content: "";
  position: absolute;
  margin-top: -50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #ecf0f1;
  right: -30px;
  top: 70px;
}
#block-field li:first-child {
  margin-left: 0;
}
#block-field li:last-child:after {
  display: none;
}
